body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.container {
    width: 1180px;

    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.header {
    position: relative;

    padding-top: 49px;

    background-color: #eee;
}

.main__navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    height: 65px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    padding: 0;
    margin: 0;
    padding-bottom: 13px;
}

.navigation__item {
    list-style: none;
    margin-right: 44px;
}

.navigation__item:nth-child(2) {
    margin-right: 48px;
}

.navigation__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;

    color: #000;
    text-transform: uppercase;
}

.navigation__link:hover {
    color: #FB565A;
}

.navigation__link:active {
    color: #000;
    opacity: .3;
}

.navigation__logo:active {
    opacity: .3;
}

.buy__shopping-baskets {
    position: relative;

    color: #000;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.buy__shopping-baskets:hover {
    color: #FB565A;
}

.active__link {
    box-sizing: border-box;

    border-bottom: 2px solid #FB565A;

    padding-bottom: 12px;
}

.navigation__buy {
    padding-bottom: 13px;
}

.shopping-baskets__img {
    margin-right: 25px;
}


/*main-slider*/
.main-slider {
    position: relative;

    height: 431px;
    
    background-image: url('../img/main__promo-img.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slide-one {
    padding: 0;
    margin: 0;
}

.slide-one__slogan {
    width: 538px;
    
    padding: 0;
    padding-top: 78px;
    margin: 0;

    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.slide-one__text {
    width: 400px;

    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 51px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}

.slide__button {
    padding: 17px 54px 15px 54px;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #fff;

    background-color: #FB565A;
    
    border-radius: 3px;
}

.slide__button:hover {
    background-color: #E74246;
}

.slide__button:active {
    background-color: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
}

.button__slider {
    display: flex;

    position: absolute;
    bottom: 96px;
    left: 550px;
}

.button-one,
.button-two,
.button-three {
    box-sizing: border-box;

    width: 18px;
    height: 18px;

    padding: 0;
    margin: 0;

    border: none;
    border-radius: 50%;

    background-color: #fff;

    cursor: pointer;
}

.button-two {
    margin-left: 17px;
    margin-right: 17px;
}

.active__slide {
    box-sizing: border-box;

    padding: 0;
    margin: 0 auto;

    width: 8px;
    height: 8px;

    border: 2px solid #C1C1C1;
    border-radius: 50%;
}


/*Main*/
/*Service*/
.service__list {
    display: flex;

    padding: 0;
    margin: 0;
    margin-top: 80px;

    list-style: none;
}

.service__item {
    width: 300px;

    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.service__item-title {
    padding: 0;
    margin: 25px 0 16px;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    text-transform: uppercase;
}

.service__item-text {
    width: 260px;

    padding: 0;
    margin: 0;
    margin-bottom: 49px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}

.service__item-button {
    padding: 17px 40px 15px 39px;
    margin: 0;
    margin-top: 32px;

    border-radius: 3px;

    color: #fff;
    text-transform: uppercase;
}

.service__button-1 {
    background-color: #FB565A;
}

.service__button-1:hover {
    background-color: #E74246;
}

.service__button-1:active {
    background-color: #D7373B;
    color: rgba(255, 255, 255, .3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service__button-2 {
    background-color: #00CA74;
}

.service__button-2:hover {
    background-color: #00BC6C;
}

.service__button-2:active {
    background-color: #00AA62;
    color: rgba(255, 255, 255, .3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service__button-3 {
    background-color: #EFC84A;
}

.service__button-3:hover {
    background-color: #EAB534;
}

.service__button-3:active {
    background-color: #E5A722;
    color: rgba(255, 255, 255, .3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.main__line {
    height: 2px;
    width: 100%;

    margin-top: 95px;
    margin-bottom: 39px;

    background-color: #EEEEEE;
}


/*About-studio*/
.about-studio__wrapper {
    display: flex;
}

.about-studio__column-description {
    width: 651px;

    margin-top: 34px;
    margin-right: 149px;
}

.about-studio__description-title {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.about-studio__description-text {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}

.about-studio__description-sub-title {
    padding: 0;
    margin: 0;
    margin-bottom: 23px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;
    color: #283136;
}

.about-studio__description-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.about-studio__description-item {
    position: relative;

    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 36px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}

.about-studio__description-item::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -35px;

    width: 25px;
    height: 2px;
    background-color: #FB565A;
}

.about-studio__column-statistic {
    width: 360px;
}

.about-studio__statistic-img {
    margin-bottom: 37px;
}

.about-studio__statistic-sub-title {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;

    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    text-align:  center;
    text-transform: uppercase;
}

.about-studio__statistic-list {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style: none;
}

.about-studio__statistic-item {
    width: 108px;
}

.statistic-item__title {
    position: relative;

    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
}

.statistic-item__title::after {
    content: '%';

    position: absolute;
    top: 0;

    font-size: 26px;
    font-weight: 700;
    line-height: 47px;
}

.statistic-item__text {
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #283136;
}


/*Partners*/
.partners__line {
    height: 2px;
    width: 100%;

    background-color: #EEEEEE;
}

.line-top {
    margin-top: 75px;
    margin-bottom: 46px;
}

.partners__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 44px;

    list-style: none;
}

.partners__item {
    display: flex;
    align-items: center;
}

.partners__link {
    opacity: .2;
}

.partners__link:hover {
    opacity: 1;
}

.partners__link:active {
    opacity: .1;
}

.partners__item-line {
    width: 2px;
    height: 52px;

    margin-bottom: 13px;
    margin-left: 48px;

    background-color: #eee;

    transform: rotate(180deg);
}

.line-bottom {
    margin-bottom: 80px;
}


/*Footer*/
.footer {
    position: relative;
}

.contacts {
    position: relative;
    height: 416px;
    min-width: 1330px;

    margin: 0 auto;

    background-image: url('../img/Footer-map.png');
    background-repeat: no-repeat;
    background-size: 1440px 416px;
}

.contacts__block {
    box-sizing: border-box;

    position: absolute;
    top: 54px;

    width: 319px;
    height: 308px;

    padding-left: 50px;
    
    background-color: #fff;
}

.block__title {
    padding: 0;
    margin: 0;
    margin-top: 49px;
    margin-bottom: 22px;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.block__address {
    padding: 0;
    margin: 0;
    margin-bottom: 17px;

    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666;
}

.block__tel {
    padding: 0;
    margin: 0;
    margin-bottom: 54px;

    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666;
}

.block__button {
    padding: 17px 44px 15px 44px;
    margin: 0;

    border-radius: 3px;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;

    background-color: #FB565A;
}

.block__button:hover {
    background-color: #E74246;
}

.block__button:active {
    background-color: #D7373B;
    color: rgba(255, 255, 255, .3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/*Popup*/
.contacts__popup-feedback {
    display: none;

    box-sizing: border-box;
    position: absolute;
    top: -140px;
    left: 220px;

    width: 960px;

    margin: 0 auto;
    padding-left: 100px;
    padding-right: 99px;
    padding-top: 63px;

    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.header__popup-feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 52px;

    margin: 0;
    margin-bottom: 37px;
}

.popup-feedback__title {
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
}

.popup-feedback__close {
    width: 21px;
    height: 21px;

    border: none;

    background-image: url('../img/close-cross.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    opacity: .3;
    cursor: pointer;
}

.popup-feedback__close:hover {
    opacity: 1;
}

.popup-feedback__close:active {
    opacity: .1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.popup-feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 761px;
}

.popup-form__label {
    width: 360px;
}

.popup-feedback__form p {
    width: 110px;
    
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.popup-form__input {
    box-sizing: border-box;

    width: 360px;

    padding: 16px 14px 16px 16px;
    margin-bottom: 34px;

    border: 2px solid #D7DCDE;
    border-radius: 3px;

    outline: none;
}

.popup-form__text {
    box-sizing: border-box;

    width: 760px;
    height: 118px;

    padding: 16px 14px 16px 16px;
    margin-bottom: 64px;

    border: 2px solid #D7DCDE;
    border-radius: 3px;

    resize: none;
}

.popup-form__text:hover,
.popup-form__input:hover {
    border: 2px solid #B4B9BB;
}

.popup-form__text:focus,
.popup-form__input:focus {
    border: 2px solid #000000;
}

.popup-form__text::placeholder,
.popup-form__input::placeholder {
    color: #444;
    opacity: .5;
}

.popup-form__text:focus::placeholder,
.popup-form__input:focus::placeholder {
    opacity: 1;
}

.popup-form__text:invalid,
.popup-form__input:invalid {
    border: 2px solid #E74246;

    color: #E74246;
}

.feedback-form__button {
    margin-bottom: 84px;
    padding: 17px 83px 15px 83px;

    border: none;
    border-radius: 3px;
    
    background-color: #FB565A;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
}


/*Social*/
.social {
    height: 217px;
}

.social__wrapper {
    display: flex;
    align-items: center;
}

.social__list {
    display: flex;

    padding: 0;
    margin: 0;
    margin-top: 68px;

    list-style: none;
}

.social__item {
    margin-right: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 81px;
    height: 81px;

    margin: 0 auto;

    border-radius: 50%;

    text-align: center;

    background-color: #E1E1E1;
}

.social__link:hover {
    background-color: #E74246;
}

.social__link:active {
    background-color: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);;
}

.social__link:active > img {
    opacity: .3;
}

.social__description {
    margin-left: 139px;
    margin-top: 60px;
}

.social__description-title {
    margin: 0;
    padding: 0;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.social__description-text {
    padding: 0;
    margin: 0;
    margin-top: 10px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #444;
}



/*MARKET.HTML*/
/*Header*/
.promo {
    margin-top: 78px;
    padding-bottom: 108px;

    background-color: #eee;
}

.promo__title {
    margin: 0;
    padding: 0;

    text-align: center;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}


/*Main*/
.market__main-wrapper {
    display: flex;
}


/*Filter*/
.filter {
    width: 260px;

    margin-right: 140px;
    padding: 0;
}
fieldset {
    border: none;

    padding: 0;
}

.legend__title {
    padding: 0;
    margin: 0;
    margin-bottom: 13px;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

/*Form-price*/
.form__price {
    margin-top: 55px;
    margin-bottom: 54px;
}

.range__block {
    position: relative;
    width: 260px;
    height: 80px;
    
    background-color: #eee;
    border-radius: 3px;
  }
  
.range,
.range__price {
    position: absolute;
    z-index: 1;
    top: 39px;
    left: 26px;
    width: 210px;
    height: 2px;
    
    background-color: #D7DCDF;
}
  
.range__price {
    z-index: 2;
    width: 138px;
    background-color: #00CA74;
}
  
.left__pip,
.right__pip {
    position: absolute;
    top: 30px;
    left: 16px;
    z-index: 3;
    
    width: 4px;
    height: 4px;

    padding: 8px;

    border-radius: 50%;

    background-color: #ababab;
    box-shadow: 0 0 0 8px #fff inset, 0px 2px 1px rgba(0, 0, 0, 0.15);;

    cursor: pointer;
}

.right__pip {
    left: 154px;
}

.price__from,
.price__to {
    width: 80px;
    height: 38px;

    margin-left: 11px;
    margin-top: 14px;

    border: none;
    border-radius: 3px;

    text-align: center;

    background-color: #eee;

    outline: none;
}

.price-label__to {
    margin-left: 14px;
}

.legend__price {
    margin-bottom: 48px;
}

/*Скрываем стандардный checkbox*/
.form__radio,
.form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form__checkbox + label,
.form__radio + label {
    display: inline-flex;
    align-items: center;

    margin-bottom: 15px;

    user-select: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #283136;

    cursor: pointer;
}

/*Наведенное состояние*/
.form__checkbox + label:hover::before,
.form__radio + label:hover::before {
    opacity: 1;
}

/*Стилизуем свой чекбокс*/
.form__radio + label::before {
    content: '';

    display: inline-block;

    width: 25px;
    height: 25px;

    margin-right: 11px;

    background-image: url('../img/radio-off.png');
    background-repeat: no-repeat;

    opacity: .4;
}

/*стилизуем чекбокс в состоянии checked*/
.form__radio:checked + label::before {
    background-image: url('../img/radio-on.png');
    background-repeat: no-repeat;
}

/*Заблокированное состояние*/
.form__checkbox:disabled + label::before,
.form__radio:disabled + label::before {
    opacity: .1;
}

/*Заблокированное состояние label*/
.form__checkbox:disabled + label,
.form__radio:disabled + label {
    color: rgba(40, 49, 54, .3);
    cursor: default;
}


.form__checkbox + label::before {
    content: "";

    display: inline-block;

    width: 23px;
    height: 23px;

    margin-right: 13px;

    background-image: url('../img/checkbox-off.png');
    background-repeat: no-repeat;

    opacity: .4;
}

.form__checkbox:checked + label::before {
    width: 25px;

    margin-right: 11px;

    background-image: url('../img/checkbox-on.png');
    background-repeat: no-repeat;
}

.filter__button {
    margin-top: 50px;
    padding: 17px 89px 15px 88px;

    border: none;
    border-radius: 3px;

    background-color: #eee;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;

    cursor: pointer;
}

.filter__button:hover {
    background-color: #DFDFDF;
}

.filter__button:active {
    background-color: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, .3);
}


/*Result*/
.result {
    padding: 0;
    margin: 0;
}

.sorted-by {
    display: flex;
    align-items: center;

    height: 30px;

    margin-top: 55px;
    margin-bottom: 48px;
}

.sorted-by__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.sorted-by__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 500px;
    margin-left: 20px;
    margin-right: 45px;

    list-style: none;
}

.sorted-by__item {
    margin-left: 25px;
}

.sorted-by__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    opacity: .3;
}

.sorted-by__link:hover {
    opacity: .6;
}

.sorted-by__link:active {
    opacity: 1;
}

.sorted-by__link-active {
    opacity: 1;
}

.sorted-by__buttons {
    display: flex;
}

.sorted-by__down,
.sorted-by__up {
    width: 11px;
    height: 10px;

    border: none;

    background-color: transparent;
    background-image: url('../img/icon-down-button.png');
    background-repeat: no-repeat;

    cursor: pointer;

    opacity: .2;
}

.sorted-by__up {
    background-image: url('../img/icon-up-button.png');
    margin-left: 18px;
}

.sorted-by__down:hover,
.sorted-by__up:hover {
    opacity: .4;
}

.sorted-by__down:active,
.sorted-by__up:active,
.sorted-by__button-active {
    opacity: 1;
}

.result__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style: none;
}

.result__item {
    width: 360px;
    height: 620px;

    margin-bottom: 30px;

    border-radius: 5px;
}

.result__item-header {
    display: flex;
    align-items: center;

    height: 40px;

    padding-left: 16px;

    background-color: #4d4d4d;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    opacity: 0.12;
}

.header-element {
    width: 14px;
    height: 14px;

    margin-right: 9px;

    border-radius: 7px;

    background-color: #fff;
}

.result__item-pic {
    position: relative;

    width: 360px;
    height: 580px;

    display: inline-block;
    line-height: 0;
    box-shadow: 0 0 0 1px #dadada inset;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.result__item-img {
    box-sizing: border-box;

    position: relative;
    z-index: -1;

    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: #F2F2F2;
}

.result__item-footer {
    position: absolute;
    bottom: 0;

    width: 360px;
    height: 231px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: #eee;
    
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}

.item-footer__title {
    margin-top: 26px;
    margin-bottom: 12px;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #000;
    cursor: pointer;
}

.item-footer__title:hover {
    color: #FB565A;
}

.item-footer__title:active {
    color: rgba(0, 0, 0, .3);
}

.item-footer__text {
    width: 255px;

    margin: 0 auto;

    text-align: center;

    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #666;
}

.item-footer__buy {
    margin-top: 49px;
    margin-left: 80px;
    padding: 17px 72px 15px 72px;

    border: none;
    border-radius: 3px;

    background-color: #FB565A;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}

.item-footer__buy:hover {
    background-color: #E74246;
}

.item-footer__buy:active {
    background-color: #D7373B;
    box-shadow: inset 0px 3px 0px 0 rgba(0, 1, 1, 0.1);
    outline: none;
}

.result__item:hover > .result__item-header {
    opacity: 1;
    transition-duration: .5s;
}

.result__item:hover > .result__item-pic {
    box-shadow: none;
}

.result__item:hover .result__item-footer {
    clip: auto;
    opacity: 1;
    transition-duration: .5s;
}

.result__item:hover {
    box-shadow: 0px 7px 13px 2px rgba(34, 60, 80, 0.3);
    transition-duration: .2s;
}


/*Pages*/
.pages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 24px;
    margin-bottom: 60px;
}

.pages__num {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style: none;
}

.pages__item {
    margin-right: 11px;
}

.pages__button {
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 3px;

    background-color: #eee;

    line-height: 50px;
    font-size: 16px;
    font-weight: 500;

    cursor: pointer;

    outline: none;
}

.pages__button:hover {
    background-color: #DFDFDF;
}

.pages__button:active {
    background-color: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, .3);
}

.pages__active {
    background-color: transparent;
    box-shadow: 0 0 0 1px #dbdbdb inset;
    outline: none;
}

.pages__active:hover,
.pages__active:active {
    background: none;
    color: #000;
    outline: none;
    box-shadow: 0 0 0 1px #dbdbdb inset;
}

.pages__next {
    width: 260px;
    height: 50px;

    border: none;
    border-radius: 3px;

    background-color: #eee;

    outline: none;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.pages__next:hover {
    background-color: #DFDFDF;
}

.pages__next:active {
    background-color: #D5D5D5;
    color: rgba(0, 0, 0, .3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}